.gaming-library-card {
    flex: 1 1 100%;
}

.gaming-library-card ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #555657;
    flex-wrap: wrap;
    gap: 15px 10px;
}

.gaming-library-card h4 {
    font-size: 1rem;
}

.gaming-library-card span {
    color: #666;
}

@media screen and  (max-width: 992px) {
    .gaming-library-card ul li,
    .gaming-library-card ul div {
        flex: 1 25%;
        font-size: 14px;
    }

    .gaming-library-card-image {
        flex: 1 1 100% !important;
    }

    .gaming-library-card img {
        width: 100%;
    }
}